:root {
  --btn-primary-color: #ffffff;
  --btn-primary-background-color: #640146;
  --btn-secondary-color: #9f347f;
  --btn-secondary-background-color: #ffffff;
  --btn-hover-color: #ffffff;
  --btn-hover-background-color: #8a0273;
}
